*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #2d3250;
    color: #fff;
    
}

.box{
    width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px #ffb17a, -2px -2px 5px  #ffb17a;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    padding: 20px 40px;

}

.signup-header h1{
    font-size: 2.2rem;
    text-align: center;
    padding: 5px 8px;

}

.signup-body div{
    margin-top: 20px;
    position: relative;
}

.signup-body div i{
    position: absolute;
    top: 36px;
    right:16px;
    color: #d16b23; 
    font-size:20px ;
}

.signup-body div span{
    font-size: 18px;
    font-weight: 600;
    color:rgb(246, 92, 92)
}

.signup-body div label{
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;

}

.signup-body div input{
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    font-size: 18px;
    margin-block: 4px;
    border: none;
    outline: none;
    color:#000;

}

.signup-body div input[type="submit"]{
    border: none;
    background-color: #ffb17a;
    color: #fff;
    font-size:20px ;
    font-weight: 600;
    cursor: pointer;
}

.signup-body div input[type="submit"]:hover{
    background-color: #c67537;

}

.signup-footer p {
    text-align: center;
    font-weight: 600;
    margin-top: 20px;


}

.signup-footer p a{
    text-decoration: none;
    padding: 20px 40px;
    color: #ffb17a;

}


.signup-footer p a:hover{
    text-decoration: underline;
    
}



